<!DOCTYPE html>
<html>
<head>
    <title>Магазин електроніки `Electron`</title>
 
    <link rel="stylesheet" href="D:\site_shop\Desing\static\css\test_1.css">
</head>

<body>
    <header class="head">

        <div class ="contact-container">
            <div class="contact-info">
              
                <div class="contact-item">
                    <i class="icon-enveloper">
                        <img src = "D:\site_shop\Desing\imag\завантаження.png" style="width: 31px; height: 35px; ">
                    </i>
                    <a href="#" class="contact-link">megabyte@example.com</a>
                </div>

                <div class="contact-item">
                    <i class="icon-telephone">
                        <img src="D:\site_shop\Desing\imag\images.png" style="width: 31px; height: 34px;">     
                    </i>
                    <a href="#" class="contact-link">0101-010101</a>
                </div>

            </div>
                    
        </div>
                
          
        <div class = "container-box">

            <div class="container_title">
               <a href="#"class ="home-link">
                <img src="D:\site_shop\Desing\imag\logo.png" alt="logo">
                </a>
            </div>

            <div class="search-form" action="#">
                 <div class="search-container">
                    <input type="text" id="search-input" placeholder="Search...">
                    <button id="search-button">
                    <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>

       
    </div>

          
    </header>
        <nav>
        <ul class = "menu">
            <li class="menu_item"><a href="#">Products</a></li>
            <li class="menu_item"><a href="#">Home</a></li>
            <li class="menu_item"><a href="#">Desktop</a></li>
            <li class="menu_item"><a href="#">Smartphone</a></li>
            <li class="menu_item"><a href="#">Shop</a></li>
            <li class="menu_item"><a href="#">Pages</a></li>
            <li class="menu_item"><a href="#">Contact up</a></li>
            <li class="menu_item"><a href="#">Login</a></li>
        </ul>
    </nav>
    <div class="banner-section">
        <div class="grip">
            <div class="swiper-container">
                <div class="swiper-banner">
                    <div class="swiper-wrapper">

                        <div class="banner">
                            <img class="head_img" src="D:\site_shop\Desing\imag\banner-2.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="group">
                <div class="overlay-gradient">
                <img class="transition" src="D:\site_shop\Desing\imag\sec-desktop-g.jpg" alt="banner-img">
            </div>
                <div class="absolute">
                    <div class="z-[2] p-5">
                        <h3 class="text-lg">
                            Armed pc gamer
                        </h3>
                        <p class="text-white">
                            Choose your pc and play!
                        </p>
                        <a class="btn-effect" href="#">
                            <span>Shop now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="information-section">
        <div class="product features">
            <div class="free-shipping">
                
            </div>
        </div>
    </div>
  
    
    <footer>
        <p>© 2023 Всі права захищені.</p>
    </footer>
</body>
</html>

