<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="D:\site_shop\Desing\static\css\sign_up.css">
    <title>Login</title>
   
</head>
<body>
    <form>
        <h1>Login</h1>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="fname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="data">Birthday</label><br>
        <input type="date" id="data" name="data"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type ="password" ><br>
        
        <label for="" ><input type = "checkbox">Remember Me </label>
        <a href="">Forget Password</a><br>
        <input type="submit" name="submit" value="Creat an account"><br>

    </form>
    
</body>
</html>